<div class="calendar-action">
  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>month</mat-label>
    <input
      type="text"
      placeholder="Pick one"
      aria-label="months"
      matInput
      [formControl]="controller"
      [value]="controller.value?.name"
      [matAutocomplete]="auto"
    />
    <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
      <mat-option *ngFor="let option of months" [value]="option">
        {{ option.name }}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
  <button mat-flat-button (click)="openDialog()" color="primary">Add New Task <mat-icon>add</mat-icon></button>
</div>
<div class="calendar-container">
  <!-- <app-todo-form></app-todo-form> -->

  <div class="calendar">
    <div class="calendar__hours">
      <div class="days"></div>
      <div
        #hours
        *ngFor="let i of [].constructor(24); index as index"
        class="calendar__hours__content"
      >
        <mat-card appearance="outlined" class="calendar__hours__content__card">
          {{ index }}
        </mat-card>
      </div>
    </div>
    <div
      class="calendar__column"
      *ngFor="let day of [].constructor(controller.value?.days); index as index"
    >
      <div #dayCard class="days">
        <mat-card class="days__card">
          <mat-card-header>
            <mat-card-subtitle>{{ index + 1 }}</mat-card-subtitle>
            <mat-card-title>{{ controller.value?.name }}</mat-card-title>
          </mat-card-header>
        </mat-card>
      </div>
      <div
        #appointment
        *ngFor="let apointment of getApointments(index)"
        [style]="calcTop(apointment)"
        class="calendar__column__apointment"
        [matTooltip]="apointment.title"
      >
        <mat-card cdkDrag (cdkDragReleased)="onDraged($event, apointment)">
          <mat-card-content>
            <div class="apointment-content">
              <span>{{ apointment.start.toLocaleString() }}</span>
              <button
                mat-button
                color="warn"
                (click)="removeApointment(apointment)"
              >
                Delete
              </button>
            </div>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>
</div>
